body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333;
    text-align: center;
}

.header {
    margin-top: 50px;
}

.title {
    font-size: 3em;
    color: #b216aa;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 3em;
    margin-bottom: 10px;
}

.background-circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.circle-yellow {
    width: 300px;
    height: 300px;
    background: #fce38a;
    top: 10%;
    left: -100px;
}

.circle-green {
    width: 250px;
    height: 250px;
    background: #a8dadc;
    bottom: 10%;
    right: -80px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: left;
}

.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.form {
  display: none; /* Masquer par défaut */
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form.active {
  display: flex; /* Afficher uniquement le formulaire actif */
}

.form p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.form a {
  color: #007BFF;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

input, button {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #333333;
  font-family: Arial, sans-serif;
  margin-bottom: 12px; /* Espacement entre les champs */
  box-sizing: border-box;
  width: 100%;
}

input:focus, button:focus {
  border: 2px solid #333333; /* Effet de focus avec bordure plus épaisse */
  outline: none;
}

button {
  background-color: #99459d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #512d5b;
}

/* Conteneur des onglets */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  background-color: #99459d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tabs button.active {
  background-color: #512d5b;
}



